*{
  margin:0px;
  padding: 0px;
}
body{
  background-color: rgb(214, 217, 198);
  overflow-x: hidden;
}
/*------------HEADER-------------------*/
header{
  border-top: 3px solid grey;
  background-color: black;
}
header h2{
  margin-top:25px;
  font-size: 40px;
  color:rgb(51,122,183);
}
header ul li{
  margin-right:1%;
  text-align: right;
}

header ul{
  margin-right:4%;
}
.myInfo .top{
  color:rgb(51,122,183);
  margin-top:70px;
}

.ime{
  margin-top: 40px;
  font-size: 75px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ime span:first-child{

}

.blockes{
  margin-top: 40px;
  color:black;
}
.myInfo{
  margin-left: 10%;
}
.top-text{
  font-size: 18px;
  color:black;
}

.blockquote-footer{
  color:white;
  font-weight: bold;
}
.container-fluid{
  margin-top:10px;
}
.bg-dark{
  background-color: #686a6d;
  height:100px;
  font-size: 50px;
  color:white;
}
.bg-darks{
  background-color:rgba(104, 106, 109,0.8);
  height:100px;
  font-size: 50px;
    color:white;
}
.nopadding{
  padding: 0px !important;
  margin: 0px !important;
}
h1{
  margin-top:34px;
}
.top{
  margin-top: 20px;
  font-size: 38px;
  color:white;
}
.p:hover{
  cursor: pointer;
  transform: scale(1.3);
  transition:0.3s;
}
.progressbar{
  color:black;
}
.font-regular-normal{
  padding: 10px;
}
b{
  color:white;
  margin-top:3px;
  display: inline-block;
}

@media only screen and (min-width: 600px){
  h1{
    margin-top:20px;
  }
}
/*-------------------CONTENT--------------------/*/
.welcomePage{
  margin-top: 10px;
  margin-bottom: 30px;
  color:white;

}
.item2
{
  background-color: black;
}
 p{
  margin-top:25px;
}
.p{
color: rgba(29, 76, 186,0.9);
font-size: 50px;
}
.contentTop{
  margin-top: 50px;
  display:inline-block;
}
.personalInfo h1{
  margin-top:30px;
}
tr td:first-child{
  font-size:25px;
  font-weight: bold;
  border-left:1px solid black;
}
tr td:last-child{
  font-size:18px;
  color:grey;
}
tr:last-child:hover{
  color:black;
}
tr td:last-child:hover{
  transform:scaleY(1.2);
  font-weight: bold;
}

.personalInfo{
  margin-top: 30px;
}
.table{
  margin-top:29px;
}


/*.form-group{
  margin:40px 0px 0px 5%;
}
.labelText{
  font-size: 30px;
}
.spanText{
  font-size:18px;
  color:grey;
  margin-left: 10%;
}
-----------------------EDUCATION--------------------- */
.content2{
  color:white;
}
.prof{
  margin-top: 70px;
  margin-bottom: 30px;

}
.education{
  border-right: 3px solid white;
  margin-top: 70px;
  margin-bottom: 30px;
  background-color:rgb(62, 66, 73);
  border-bottom: 3px solid white;
}
.education:hover{
transform: translateY(-30px) translateX(7px);
transition: 1s;

font-weight: bold;
}
.education:not( :hover ){

  transition:2s;
}
.experience{
  margin-left: 10%;
  margin-top:20px;
}
.experience ul li:last-child{
  font-size: 24px;
}
.experience ul li:first-child{
  margin-top: 75px;
}
.btn-xs{
  margin-top: 20px;
  margin-bottom: 20px;
}
.title{
  font-size: 28px;
  display:inline-block;
  margin: 0px;
  padding: 0px;
}

.experience li{
  text-decoration: none;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
    .prof,.profSkills{
      border-top: 3px solid white;
      margin-top: 10px;
    }
    .copyr{
      margin-top: 20px;
    }
    .education{
      border-bottom: 0px;
    }
    .onMobiteBottomMargin
    {
      margin-bottom: 20px;
    }
    .mobcv{
      border-top: 3px solid white;
      margin-top: 10px;
    }
    header, header ul {
      text-align: center;
    }
    #ja{
      width:100%;
    }
    .title{
      margin-left: 2%;
    }
}
@media only screen and (max-width: 1000px) {

}
/*---------FOOOOOOTER -----------*/
.footer{
  margin-top: 50px;
  background-color:black;
  color:white;
}
 .addPadding p{
  margin-left:8%;
}
.addPadding span{
  margin-left: 8%;
}
.cvDownload{
  margin-top: 20px;
}
.footer input{
  margin: 20px 0 8px 0;
padding: 4px 8px;
border-radius: 0;
width: 80%;
height: 31px
}
.footer a{
  padding: 7px 9px 5px 9px;

}
.footer button:hover{
  transition: 1s;
transform:  scale(1.3);
background-color: green;
}
.footer button:not(:hover){
  transition: 2s;
}
.footer a:hover{
  transition: 1s;
transform:  scale(1.3);
}
.footer a:not(:hover){
  transition: 2s;
}
.social li:hover{
  transition: 2s;
  transform: translateX(-20px) scaleY(1.4);
}
.social li:not(:hover){
  transition:1s;
}
.social li{
  font-size:46px;
  margin-top: 20px;
}
@media  only screen and(max-width:1300px) {
  .top{
    margin-top: 5px;
  }
  .myInfo .col-md-12 .top{
    margin-top: 10px;
  }
  .formBlock, .buttonBlock{
    display:block;
  }
}
.newsletter-email{
  color:black;
}
.toogle2{
  background-color:rgb(151, 229, 98);
}
.toogle1{
    background-color:black;
}
.text-animation li{
  display: inline-block;
  margin-top: 13px;
  transition: all 2.5s ease;
  list-style-type: none;
}
/*------------ANIMATION------------*/
@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

.item {
  &--primary {
    @include center-v;
    right: 20px;
    background: green;
  }

  &--secondary {
    @include center-v;
    left: 20px;
    background: red;
  }
}
